body{
    background-color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}

h1{
    font-size: xx-large;
text-align: center;

}


.menu-bar ul{
        background-color: chocolate;
        list-style-type: none;
        border-radius: 15px;
        text-align: left;
        padding: 10px 30px;
    }
    .menu-bar ul li{
        display: inline-flex;
    }

    .menu-bar ul li a{
        color: white;
        text-decoration: none;
        margin: 0 0 0 3rem;
        font-family: sans-serif;
    }

    .active, .menu-bar li :hover {
        color: black;
    }

    .top{
        background-color: white;
        height: 50px;
        width: 100%;
    }

    .top ul{
        display: inline-flex;
        list-style-type: none;
    }

    .top ul li{
        padding: 10px 30px;
    }
    .top img{
        height: 20px;
        width: 20px;
    }

    .search{
        text-align: right;
        border-color: blue;
    }
    

.close{
    font-size: x-large;
    font-family: times;
    font-style: oblique;
}

.lilian{
    
    font-size: x-large ;
    text-align: left;
    
}

h2{
    text-align: center;
    font-size: xx-large;
    color: black;
}

.lilian{
    text-align: center;
    font-size: x-large;
    block-size: auto;
    
}
.lilian img{
    width: 350px;
    float: left;
    height: auto;

}

.need{
    text-align: center;
    font-size: x-large;
    margin-block-start: auto;
}
.need h2{
    text-align: left;
}


h3{
    text-align: center;
    font-size: xx-large;
    color: black; 
    font-family: times;
    font-weight: bolder;
     
}

.mlog{
    margin: 5px;
    float: left;
    width: 180px;
    border: 1px;
}
.mlog img{
    width: 100%;
    height: auto;
}

p{
    font-size: larger;
    color: black;
    font-family: times;

}


.mlog{
    margin: 1px solid gray;
    float: left;
    width: 400px;
    border: 1px solid  gray;
}

.mlog img{
    width: 100%;
    height: auto;
}

.mlog :hover{
    border: 1px solid gray;
}
marquee{
    font-size: larger;
    color: blue;

}

.form{
    background-color: burlywood;
    text-align: center;
    font-size: larger;
    display: block;
    margin-left: 15%;
    margin-right: 15%;
    color: blue;
    width: 70%;
    margin-bottom: 5%;
}




.project{
    background-color: aqua;
    
}


.about{
    font-size: larger;
    font-family: serif;
    text-align: left;
    width: 500px;
    margin: auto;
    margin-top: 0px;
    border-radius: 50px;
    
    
}


.why{
    background-color: aquamarine;
    
}

.specialize{
    background-color: mediumpurple;
    
    
}

.my{
    background-color: turquoise;
    
}

.services{
    text-align: left;
    width: 500px;
    margin: auto;
    margin-top: 100px;
    border-radius: 500px;
    font-size: larger;

}

.hire{
    background-color: darkseagreen;
}
.what{
    background-color: bisque;
}

.niches{
    background-color: cornflowerblue;

}





















